.container {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

.sectionWrapper {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
}