.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--black);

  background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
    url(/static/signin-bg.jpg);
}

.header {
  display: flex;
  width: 100%;
  margin-top: 1.5rem;
}

.logoWrapper {
  color: #e50914;
  width: 15rem /* 128px */;
  margin-left: 1.5rem;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: flex;
  width: 100%;
  height: 100%;

  z-index: 10;
  justify-content: center;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-bottom: 6rem;
  padding-top: 1.5rem /* 32px */;
  background-color: var(--black20);

  height: 450px;
  padding-left: 3rem /* 48px */;
  padding-right: 3rem /* 48px */;
  border-top-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  width: 450px;
}

.signinHeader {
  color: var(--white10);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem /* 32px */;
  margin-top: 8rem;
  margin-left: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailInput1 {
  border-radius: 10px;
  padding-top: 1rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;

  padding-left: 1rem /* 8px */;
  padding-right: 0.5rem /* 8px */;

  width: 88%;
  padding-bottom: 1rem /* 16px */;
  color: grey;
  height: 3rem /* 48px */;
  min-width: 240px;
  font-size: 1rem;
  background-color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1.2rem;
  border-radius: 1px solid #333333;
}

.emailInput2 {
  border-radius: 10px;
  padding-top: 1rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;

  padding-left: 1rem /* 8px */;
  padding-right: 0.5rem /* 8px */;

  width: 88%;
  padding-bottom: 1rem /* 16px */;
  color: grey;
  height: 3rem /* 48px */;
  min-width: 240px;
  font-size: 1rem;
  background-color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.userMsg {
  margin-top: 0.25rem /* 4px */;
  margin-bottom: 0.25rem /* 4px */;
  color: #e86904;
}

.loginBtn {
  background-color: #e50914;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 3rem /* 48px */;
  padding-right: 3rem /* 48px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;

  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;

  color: var(--white10);
  width: 88%;

  border-radius: 0.375rem /* 6px */;
  margin-top: 2rem /* 24px */;
}

.checkLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  padding-left: 25px;
}

.checkLink {
  margin-top: 1rem;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  padding-right: 25px;
}

.btnLoginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.penultimo {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 5px;
}

.bottomWrapper {
  background-color: var(--netflix);
  width: 450px;
  height: 195px;
  padding-left: 4.5rem;
  padding-right: 4rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.primeraVez {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.subLink {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.ultima {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: grey;
}

.captcha {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.masInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.letter {
  color: #3054f8;
}

.footer {
  margin-top: 100px;
  background-color: var(--netflix);
  width: 100%;
  height: 260px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 18%;
  padding-right: 18%;
}

.footerUno {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footerDos {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
}

.footerTres {
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
}

.footerCuatro {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footerItem {
  width: 150px;
  height: 30px;
}

.footerItem1 {
  width: 150px;
  height: 30px;
  margin-right: 2.8%;
}

.footerItem2 {
  width: 150px;
  height: 30px;
}

@media (min-width: 768px) {
  .headerWrapper {
    padding-left: 4rem /* 64px */;
    padding-right: 4rem /* 64px */;
    flex-direction: row;
    align-items: center;
  }

  .logoLink {
    margin-bottom: 0px;
  }

  .mainWrapper {
    margin-top: 2rem /* 128px */;
  }
}
